
* {
    margin: 0;
    padding: 0;
}

body{
    background-image: url("img/forest.jpg");
    background-color: #C6D8E4;
    overflow: hidden;
}

header{
    display: flex;
    border: 2px solid white;
    opacity: 0.8;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 100%;
    background-color: #50AC97;
}

#container-info{
    display: none;
    margin-top: 30px;
    margin-left: 30px;
    background-color: #50AC97;
    border: 2px solid white;
    height: 400px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
    opacity: 0.7;
}

.container-block{
    display: flex;
    justify-content: center;
}

.brand {
    width: 200px;
    height: 200px;
    margin-top: -10px;
}

.brand:before {
    background-size: 100% 100%;
    content: "Weather";
    line-height: 205px;
    color: white;
    font-size: 20px;
    font-family: "HEAVITAS", "Helvetica Rounded", Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 99999 !important;
}

.logo{
    animation: 5s linear infinite;
    animation-name: rotate-0;
    animation-delay: 0s;
    transform-origin: 50% 50%;
    transform: rotate(0deg);
}

svg path{
    fill:none;
    stroke-width:2;
    transform-origin: 50% 50%;
    transform: rotate(0deg) ;
    animation: 4s linear infinite;
}

.logo svg path:nth-child(1) {
    opacity: 1;
    animation-name: rotate-1;
    animation-delay: .5s;
}
.logo svg path:nth-child(2) {
    opacity: .5;
    animation-name: rotate-2;
    animation-delay: .6s;
}
.logo svg path:nth-child(3) {
    opacity: .8;
    animation-name: rotate-3;
    animation-delay: .7s;
}


@keyframes scale-1 {
    0%{
        transform: scale(1);
    }50% {
         transform: scale(.9);
     }100% {
          transform: scale(1);
      }
}

@keyframes rotate-0 {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes rotate-1 {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes rotate-2 {
    from { transform: rotate(0deg); }
    to { transform: rotate(-360deg); }
}

@keyframes rotate-3 {
    from { transform: rotate(0deg); }
    to { transform: rotate(0deg); }
}

#searchInfo {
    margin-left: 10px;
    border: 5em;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    -webkit-transform: translate(0);
    transform: translate(0);
    background-image: linear-gradient(45deg, #4568dc, #b06ab3);
    padding: 0.7em 2em;
    border-radius: 65px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
    -webkit-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    color: white;
}

#searchInfo .text {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(45deg, #4568dc, #b06ab3);
}

#searchInfo:after {
    content: "";
    border-radius: 18px;
    position: absolute;
    margin: 4px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: #0e0e10;
}

#searchInfo:hover {
    background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
    box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
}

#searchInfo:hover .text {
    background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
}

#inputText{
    border-radius: 10px;
    border: none;
    height: 40px;
    width: 200px;
}

.subText{
    font-size: 20px;
}