* {
    margin: 0;
    padding: 0;
}
#app{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 500px;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)

}

.changerBackOnGreen{
    background-color: green;
}
.changerBackOnOrange{
    background-color: orange;
}
.changerBackOnDarkGrey {
    background-color: darkgray;
}