$grey: rgba(0, 0, 0, .5);
$blue: rgba(0, 0, 255, .5);

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate2 {
  0% {
    transform: rotate(0deg);
    border-top-color: $grey;
  }
  50% {
    transform: rotate(180deg);
    border-top-color: $blue;
  }
  100% {
    transform: rotate(360deg);
    border-top-color: $grey;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffd4fb;
}

#main {
  font-style: italic;
  text-align: center;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ffd4fb;
  width: 400px;
  height: 500px;
  border-radius: 10px;
}

@mixin loaderDivMixin {
  border-radius: 50%;
  padding: 8px;
  border: 2px solid transparent;
  animation: rotate linear 3.5s infinite;
}

.loader {
  position: relative;
  margin: 75px auto;
  width: 150px;
  height: 150px;
  display: block;
  overflow: hidden;

  div {
    height: 100%;
  }
}

.loader1, .loader1 div {
  @include loaderDivMixin;
  border-top-color: $grey;
  border-bottom-color: $blue;
}

div:hover {
  animation-play-state: paused;
}

.loader, .loader * {
  will-change: transform;
}

#loader-start {
  text-align: center;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
  font-size: 20px;
  font-family: Arial, sans-serif;
}