* {
    margin: 0;
    padding: 0;
    overflow: hidden
}

body{
    border: 2px solid black;
    background-color: #00A4CCFF;
    width: 100%;
    height: 1000px;
}

.main{
    margin-top: 20%;
    margin-left: 50%;
    height: 100px;
    width: 100px;
    background-color: #F95700FF;
    border: 2px solid  darkblue;
}